{% extends "base.html" %}

{% block content %}
    <h1 style="margin-bottom: 30px;">Tracklist</h1>
    
    <div class="track-list" style="display: flex; flex-direction: column; gap: 4px;">
        {% for track in tracks %}
            {% include "includes/track_item.html" with track=track %}
        {% empty %}
            <div style="text-align: center; padding: 50px; color: #b3b3b3;">
                <p>Треков пока нет. Загрузи первый в админке или через профиль!</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}